<footer>
    <p>Gossipy 2022 &copy;</p>
</footer>
<script>
    const btnToggle = document.getElementById('myBtn');
    const nav = document.getElementById('nav--hide');

    btnToggle.addEventListener('click', () => {
        nav.classList.toggle('nav--visible');
    })

</script>

</body>
</html>
